@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}
#navbar_mobile_frame_side {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#sheet-container {
	margin: 0 auto;
	max-width: 1300px;
	
	border-left: 1px solid red;
	border-right: 1px solid red;
}

.full-width-wrap {
	margin: 5px 0;
	width: 100%;
	display: flex;
}
.full-width-wrap:first-child {
	margin-top: 0;
}
.full-width-wrap:last-child {
	margin-bottom: 0;
}

.half-width-wrap {
	margin: 5px 0;
	width: 50%;
	float: left;
}
.half-width-wrap:first-child {
	margin-top: 0;
}
.half-width-wrap:last-child {
	margin-bottom: 0;
}

/* ===== Width splits ===== */
._60-width-wrap {
	flex: 60;
	display: flex;
}
._50-width-wrap {
	flex: 50;
}
._40-width-wrap {
	flex: 40;
	display: flex;
}

#logo-box {
	height: 100px;
	display: inline-block;
	flex: 4;
}

#character-desc {
	display: inline-block;
	flex: 6;
}

select, input[type="text"], input[type='number'] {
	padding: 7px;
	width: 100%;
	max-height: 29px;
	box-sizing: border-box;
	border: none;
	background-color: #fafafa;
	font-family: "Arial";
	font-size: 12px;
	appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

label, span {
	color: #fff;
}

.label-skill-wrap {
	padding: 0 3px;
	text-align: center;
}
.label-plus-skill-wrap {
	padding: 0 3px;
	text-align: center;
}

.input-wrap {
	padding: 0 8px;
}

.input-wrap:first-child {
	padding-left: 0;
}

.input-wrap:last-child {
	padding-right: 0;
}

#character-name-wrap {
	flex: 40;
}
#alignment-wrap {
	flex: 20;
}
#player-name-wrap {
	flex: 40;
}

#character-level-wrap {
	flex: 50;
}
#deity-wrap {
	flex: 25;
}
#homeland-wrap {
	flex: 25;
}

#race-wrap {
	flex: 200;
}
#size-wrap {
	flex: 100;
}
#gender-wrap {
	flex: 100;
}
#age-wrap {
	flex: 100;
}
#height-wrap {
	flex: 125
}
#weight-wrap {
	flex: 125;
}
#hair-wrap {
	flex: 125;
}
#eyes-wrap {
	flex: 125;
}

#name-skill-wrap {
	flex: 360;
}
#total-skill-wrap {
	flex: 120;
}
#ability-skill-wrap {
	flex: 120;
}
#ranks-skill-wrap {
	flex: 120;
}
#misc-skill-wrap {
	flex: 120;
}
.label-skill-wrap {
	flex: 60;
}
.label-plus-skill-wrap {
	flex: 30
}

.ability-stamp-wrap {
	flex: 2500;
}
.ability-val-wrap {
	flex: 1875
}

.ability-stamp-wrap .ability-stamp {
	overflow: hidden;
	text-align: center;
	background-color: red;
	height: 100%;
}
.ability-stamp-wrap .ability-stamp span {
	color: #000;
	display: block;
}
.ability-stamp-wrap .ability-stamp .ability-name-tag {
	line-height: 0.95em;
}
.ability-stamp-wrap .ability-stamp .ability-name-long {
	font-size: 0.6em;
}