@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

/* Hide mobile stuff */
#navbar_mobile_frame_top {
	display: none;
}
#navbar_mobile_frame_side {
	display: none;
}

/* ===== Resets ===== */
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

/* ===== Main Container ===== */
#sheet-container {
	margin: 0 auto;
	max-width: 1350px;
}

/* ===== Generic Rules ===== */
select, input[type="text"], input[type='number'] {
	padding: 7px;
	width: 100%;
	max-height: 29px;
	box-sizing: border-box;
	border: none;
	background-color: #fafafa;
	font-family: "Arial";
	font-size: 12px;
	appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input[type='number'] {
	appearance: textfield;
	-o-appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

label, span {
	color: #fff;
}

.input-wrap {
	padding: 0 8px;
}

.input-wrap:first-child {
	padding-left: 0;
}

.input-wrap:last-child {
	padding-right: 0;
}

.row-full-width {
	margin: 5px 0;
	width: 100%;
	display: flex;
}

.row-full-width:first-child {
	margin-top: 0;
}

.row-full-width:last-child {
	margin-bottom: 0;
}

/* 
+==============================================================================+
|                                                                              |
|                       Row #1 - Logo + Character Summary                      |
|                                                                              |
+==============================================================================+
*/
#row-general-info {
	margin-bottom: 5px;
	display: flex;
}

/* ===== Logo ===== */
#col-logo-box {
	height: 100px;
	display: flex;
	flex: 4;
}

/* ===== General Info Block ===== */
#col-character-summary {
	display: flex;
	flex: 6;
}

#col-character-summary #col-cs-left {
	padding-right: 16px;
	flex: 6;
}

#col-character-summary #col-cs-right {
	flex: 4;
}

/* Left Row #1 */
#col-cs-left #character-name-wrap {
	flex: 7;
}

#col-cs-left #alignment-wrap {
	flex: 3;
}

/* Left Row #2 */
#col-cs-left #character-level-wrap {
	flex: 1;
}

/* Left Row #3 */
#col-cs-left #race-wrap {
	flex: 4;
}

#col-cs-left #size-wrap {
	flex: 2;
}

#col-cs-left #gender-wrap {
	flex: 2;
}

#col-cs-left #age-wrap {
	flex: 2;
}

/* Right Row #1 */
#col-cs-right #player-name-wrap {
	flex: 1;
}

/* Right Row #2 */
#col-cs-right #deity-wrap {
	flex: 1;
}

#col-cs-right #homeland-wrap {
	flex: 1;
}

/* Right Row #3 */
#col-cs-right #height-wrap {
	flex: 1
}

#col-cs-right #weight-wrap {
	flex: 1;
}

#col-cs-right #hair-wrap {
	flex: 1;
}

#col-cs-right #eyes-wrap {
	flex: 1;
}

/* 
+==============================================================================+
|                                                                              |
|                          Row #2 - Numbers + Skills                           |
|                                                                              |
+==============================================================================+
*/
#row-numeric-info {
	margin-bottom: 5px;
	display: flex;
}

#row-numeric-info #col-ni-left {
	padding-right: 8px;
	display: flex;
	flex: 1;
}

#row-numeric-info #col-ni-right {
	padding-left: 8px;
	flex: 1;
}

#col-other-thing {
	flex: 1;
}

/* ===== Ability Block ===== */
#col-ability-num {
	flex: 1;
}

#col-ability-num .ability-header {
	padding: 0 8px;
	text-align: center;
	overflow: hidden;
}

#col-ability-num .ability-header:first-child {
	padding-left: 0;
}

#col-ability-num .ability-header:last-child {
	padding-right: 0;
}

#col-ability-num .ability-header span {
	display: block;
	font-size: 0.5em;
}

#col-ability-num .ability-stamp-wrap {
	flex: 2500;
}

#col-ability-num .ability-stamp-wrap .ability-stamp {
	height: 100%;
	background-color: red;
	overflow: hidden;
	text-align: center;
}

#col-ability-num .ability-stamp-wrap .ability-stamp span {
	display: block;
	color: #000;
}

#col-ability-num .ability-stamp-wrap .ability-stamp .ability-name-tag {
	line-height: 0.95em;
}

#col-ability-num .ability-stamp-wrap .ability-stamp .ability-name-long {
	font-size: 0.5em;
}

#col-ability-num .ability-val-wrap {
	flex: 1875
}

/* ===== Skills Block ===== */
#col-ni-right .label-skill-wrap {
	padding: 0 3px;
	text-align: center;
	flex: 60;
}

#col-ni-right .label-plus-skill-wrap {
	padding: 0 3px;
	text-align: center;
	flex: 30
}

#col-ni-right .name-skill-wrap {
	flex: 360;
}

#col-ni-right .total-skill-wrap {
	flex: 120;
}

#col-ni-right .ability-skill-wrap {
	flex: 120;
}

#col-ni-right .ranks-skill-wrap {
	flex: 120;
}

#col-ni-right .misc-skill-wrap {
	flex: 120;
}
